* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  width: 100vh;
  width: 100vw;
}

body .header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, black), to(transparent));
  background: linear-gradient(black 25%, transparent 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 5vh;
}

body .header .profile .navbar-profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  max-height: 0px;
  overflow: hidden;
  background-color: rgba(245, 245, 245, 0.574);
  -webkit-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}

body .header .profile .navbar-profile-box:hover {
  max-height: 200px;
}

body .header .profile .navbar-profile-box:hover a:hover {
  color: #3CCA98;
  text-decoration: none;
}

body .header a:last-child {
  margin-right: 100px;
}

body .header :hover {
  color: #3CCA98;
  text-decoration: none;
}

body .navbar {
  margin: auto 15px;
  font-size: 25px;
  color: red;
  text-decoration: none;
  font-weight: 700;
  width: auto;
  height: 100%;
}

body .Profile-trigger:hover ~ .navbar-profile-box,
body .navbar-profile-box:hover {
  max-height: 200px;
}

body .profile-navbar {
  margin: auto 15px;
  font-size: 25px;
  color: red;
  text-decoration: none;
  font-weight: 700;
  width: auto;
  height: 100%;
}

body .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content .container .ProductCard {
  width: 25%;
  margin: auto 15px;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
  text-decoration: none;
  font-weight: 600;
}

body .content .container .ProductCard * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
}

body .content .container .ProductCard:hover {
  text-decoration: none;
  border: 1px rgba(128, 128, 128, 0.386) solid;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body .content .container .ProductCard:visited {
  color: #3cca98;
  text-decoration: none;
}

body .content .container .ProductCard:link {
  color: #3cca98;
  text-decoration: none;
}

body .content .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px;
  list-style-type: none;
}

body .content .pagination li {
  margin: 15px;
}

body .product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 5vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .product-content .Products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .product-content .Products .PictureContent {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */