$green : #3CCA98;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;

    @import "./partial/header"; 
    @import "./partial/content";
    @import "./partial/product";

}