$green : #3CCA98;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    width: 100vh;
    width: 100vw;
    @import "./partial/header"; 
    @import "./partial/content";
    @import "./partial/product"; 

}